@use "../variables" as *;


/* Соціальні мережі */
.header__icons {
  display: flex;
  align-items: center;
  gap: 18px;
  line-height: 1;

  a {
    color: $white;
    display: inline-block;
    img {
      width: 25px;
      height: 25px;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}